<%- include('includes/head.ejs') %>
</head>

<body>
  <%- include('includes/navigation.ejs') %>
  <h1>Some Error Occurred!</h1>
  <p>We're working on it!</p>
  <p>Please try again later.</p>
  <a href="/" class="btn">Go to Home</a>
<%- include('includes/end.ejs') %>